In [1]:
import pandas as pd
import numpy as np

In [2]:
import numpy as np
data0=[2,4,6,5,8]
arr0=np.array(data0)

In [3]:
s=pd.Series(data=[100,'a',{'dic1':5}]),
index=pd.Index(['idl',20,'third'],name='my_idx'),
dtype='object',
name='my_name'

In [4]:
s2=pd.Series(["1","2","3","4"])

In [5]:
s2.index.values

array([0, 1, 2, 3], dtype=int64)

In [6]:
type(s2.values[0])

str

In [7]:
s2.shape

(4,)

In [8]:
s2.size

4

In [13]:
d={
    "one":pd.Series([1.0,2.0,3.0],index=["a","b","c"]),
    "two":pd.Series([1.0,2.0,3.0,4.0],index=["a","b","c","d"])
    }

In [14]:
d1={
    "作者":pd.Series(['余华','莫言','残雪']),
    "作品":pd.Series(['活着','红高粱','暗夜']),
    "价格":pd.Series([38.0,40.0,39.0])
}
df2=pd.DataFrame(d1)

In [15]:
df2.index.values

array([0, 1, 2], dtype=int64)

In [16]:
df2.shape

(3, 3)

In [17]:
df2.size

9

In [18]:
df2['作品']

0     活着
1    红高粱
2     暗夜
Name: 作品, dtype: object

In [21]:
df2[['作者','价格']]

   作者    价格
0  余华  38.0
1  莫言  40.0
2  残雪  39.0